#accordion{}
#accordion h3{ height:32px; background:url(images/img_1.gif) repeat-x top; font-size:14px; font-weight:bold; color:#000000;border: 0}
#accordion ul, #accordion ul li {margin: 0; padding: 0; border: none; background: #d9e8f4; list-style-type:none; overflow:hidden}
#accordion ul a {padding: 5px 5px 5px 45px;text-decoration:none; display: block; color: #0000cc; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; text-shadow: 1px 1px 1px #fff;}
#accordion ul a.dcjq-parent, #accordion ul a.dcjq-parent:hover {background: #d9e8f4 url(images/bg_grey.png) repeat-x 0 -1px;}
																						
#accordion ul a.dcjq-parent.active {}
#accordion ul a .dcjq-icon {position: absolute; top: 50%; left: 14px; width: 34px; margin-top: -17px; height: 28px; background: url() no-repeat 0 center;}
#accordion ul a.dcjq-parent.active .dcjq-icon {background: url(images/arrow_grey_down.png) no-repeat 0 center;}
#accordion ul a:hover {background: #d9e8f4; color: #800080; font-weight:bold;}
#accordion ul a:active{}