<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>mitian main</display-name>
    <description>mitian main application</description>
    <session-config>   
    <session-timeout>30</session-timeout>   
    </session-config>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/WEB-INF/config/log4j.properties</param-value>
    </context-param>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/config/app-context.xml</param-value>
    </context-param>
<!--     <listener>  -->
<!--    <listener-class>org.jwebap.startup.JwebapListener</listener-class>  -->
<!--  </listener>-->
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>characterEncoding</filter-name>
        <filter-class>com.mitian.airad.web.filter.CharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>characterEncoding</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    
    <!-- 支持spring rest进行URL转发 -->
    <filter>
        <filter-name>restFilter</filter-name>
        <filter-class>com.mitian.airad.web.filter.RestFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>restFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!--Spring Security 载入 -->
    <filter>
         <filter-name>springSecurityFilterChain</filter-name>
         <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>*.do</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <!-- ETag 缓存检验，减少流量 -->  
       <filter>
        <filter-name>shallowEtagHeaderFilter</filter-name>
        <filter-class>org.springframework.web.filter.ShallowEtagHeaderFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>shallowEtagHeaderFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/config/spring-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
      <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/config/spring-rest.xml</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
   <error-page> 
  <error-code>500</error-code> 
  <location>/errorDocs/500.jsp</location> 
</error-page> 
    
    <error-page> 
  <error-code>404</error-code> 
  <location>/errorDocs/404.jsp</location> 
</error-page> 

     <servlet>
   <servlet-name>CanpantaServlet</servlet-name>
   <servlet-class>com.mitian.airad.web.servlet.CanpantaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>CanpantaServlet</servlet-name>
   <url-pattern>/canpanta.png</url-pattern>
  </servlet-mapping>
  <!-- 图表demo -->
      <servlet>
    <description></description>
    <display-name>ChartServlet</display-name>
    <servlet-name>ChartServlet</servlet-name>
    <servlet-class>com.mitian.airad.web.controller.ChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartServlet</servlet-name>
    <url-pattern>/ChartServlet</url-pattern>
  </servlet-mapping>
  
<!--  <context-param>-->
<!--    <param-name>jwebap-config</param-name>-->
<!--    <param-value>/WEB-INF/jwebap.xml</param-value>-->
<!--  </context-param>-->
<!--  <filter>-->
<!--    <filter-name>PageDetectFilter</filter-name>-->
<!--    <filter-class>org.jwebap.plugin.tracer.http.DetectFilter</filter-class>-->
<!--    <init-param>-->
<!--      <param-name>excludeUrls</param-name>-->
<!--      <param-value>/detect;/detect/*;*.js;*.jpg;*.htm;*.html;*.gif;*.png;*.css;*.swf;*.ico</param-value>-->
<!--    </init-param>-->
<!--  </filter>-->
<!--  <filter-mapping>-->
<!--    <filter-name>PageDetectFilter</filter-name>-->
<!--    <url-pattern>/*</url-pattern>-->
<!--  </filter-mapping>-->
<!--  <servlet>-->
<!--    <servlet-name>detect</servlet-name>-->
<!--    <servlet-class>org.jwebap.ui.controler.JwebapServlet</servlet-class>  -->
<!--  </servlet>-->
<!--  <servlet-mapping>-->
<!--    <servlet-name>detect</servlet-name>-->
<!--    <url-pattern>/detect/*</url-pattern>-->
<!--  </servlet-mapping>-->

    
</web-app>