div{text-align:left}
.bg62{position:absolute;z-index:999;background:#000;opacity:0.5;-moz-opacity:0.5;left:0;top:0;height:99%;width:100%;_height:968px}
.bg62{filter:alpha(opacity=60)}
#mask iframe{position: absolute; visibility: inherit; top: 0px;left: 0px; /*width: expression(this.parentNode.offsetWidth); height: expression(this.parentNode.offsetHeight);*/z-index: -1; filter='progid:dximagetransform.microsoft.alpha(style=0,opa1city=0)';width:100%;height:100%}
.btn_fst{cursor:default}
.btn_fst input{width:73px;height:24px;padding:3px 0 6px;*padding:3px 0 0;line-height:20px;background:url(../images/btn_fst.gif) no-repeat;border:0}
.btn_fst input:hover{background-position:0 -48px}
.btn_fst input.fst:hover{background-position:0 -48px}
.btn_fst input.fst{background-position:0 -24px}
a.butn3{width:15px;height:15px;margin:5px 9px 0 0;background:url(../images/lay_ico.gif) no-repeat left -80px}
.butdef,.butdef_n{width:73px;padding:0;*padding:3px 0 0}
.btn_fst input.butdef_n{color:#aca899;background:url(../images/btn_fst.gif) no-repeat 0 -72px}
.btn_fst input.butdef_n:hover{background-position:0 -72px}
.butn_s,.butn_s_h{height:21px;line-height:21px;line-height:25px\9;*line-height:18px;_line-height:16px;color:#fff;padding:0 0 2px 0;*padding:4px 0 0;border:0;cursor:pointer;background:url(../images/my_butn.gif) no-repeat}
.butn_s,.butn_s_h{width:63px;background-position: 0 -84px}
.butn_s:hover,.butn_s_h{background-position:left -105px}
.alert_t,.alert_b{clear:both;height:1px;display:block;overflow:hidden;font-size:1px;background:#c0ce99;margin:0 1px 0 1px}
.alert_b img{display:none;}
.alert_lay{position:absolute;z-index:160;background:url(../images/laybj.gif) repeat-x left top;}
.alert_lay .box{zoom:1;padding:0;border-left:1px solid #c0ce99;border-right:1px solid #c0ce99;}
.alert_lay .box:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.alert_lay h1{height:26px;font-size:12px;line-height:26px;color:#5f6c26;font-weight:normal;padding:2px 0 0 15px;clear:both}
.alert_lay h1 span{float:left}
.alert_lay h1 a{float:right}
.alert_lay h1 img{_margin:7px 0 0}
.alert_lay label{border:0;width:100%;float:none;text-align:left;padding:0;margin:0}
.alert_lay ol{list-style-type:none}
.alert_lay li input{float:left;}
.alert_lay li span{display:block;float:left;}
.slay{width:300px;}
.slay .blk{padding:10px;line-height:150%}
.com_lay_ifrm{position:absolute;z-index:999}
.com_lay_ifrm iframe{width:565px;height:334px;margin:5px 0 0;position:absolute}
.com_lay{width:565px;left:0;top:0}
.com_lay .blk{width:563px;background:#c2d19a;display:block;zoom:1}
.com_lay .blk:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.com_lay h1{background:#c2d19a url(../images/laybj.gif) repeat-x left top}
.com_lay .mysech{height:322px;*height:335px;_height:341px;text-align:center;padding:0 0 36px;*padding:0 0 23px;_padding:0 0 17px;background:#fff;margin:1px}
.com_lay h5{font-weight:normal;line-height:33px;border-bottom:1px solid #c2cdd3;margin:0 3px;padding-left:5px;margin-bottom:31px;text-align:left}
.com_lay label{width:120px;display:inline-block;text-align:right}
.com_lay li{margin-bottom:7px}
.com_lay li input{float:none}
.com_lay .butn{width:107px;height:25px;margin-left:44px;}
.com_lay .btn2{*padding:2px 0 0;}
.com_lay .tips{text-align:left;}
.com_lay .tips img{padding:100px 30px 50px 70px;}
.com_lay .tips p{padding:100px 50px 50px 0;font-size:14px;line-height:150%}
.com_lay .tips b{font-weight:normal;text-align:right;display:block;}

.login_ifrm{position:absolute;z-index:999}
.login_ifrm iframe{width:308px;height:232px;margin:0}
.login_lay{width:308px;position:absolute;top:0;left:0;}
.login_lay .box{text-align:center}
.login_lay .blk{background:#c2d19a;zoom:1;}
.login_lay h1{background:#c2d19a url(../images/laybj.gif) repeat-x left top}
.login_lay .blk div{width:302px;_width:304px;height:200px;background:#fff url(../images/login_bg.jpg) no-repeat right bottom;border:1px solid #d7dbc4;margin:0 1px;zoom:1;text-align:center}
/*.login_lay .blk:after,.login_lay .blk div:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.login_lay .blk div h2{margin:0 0 14px;font-size:18px}
.login_lay label{text-align:left;clear:both;margin-left:17px;}
.login_lay p{padding:0 0 10px 0}
.login_lay p .inp{width:210px;height:18px;margin:0 0 0 10px;border:1px solid #b2b9c3;}
.login_lay p,.login_lay em{line-height:27px}
.login_lay em{padding:0 0 0 75px;padding-top:15px;font-style:normal}
.login_lay em label{margin:0 35px 0 0;}
.login_lay em .butn_s{clear:both;margin:5px 0 0 0;}
.login_lay p.txt{padding:50px 20px 20px;line-height:20px;}
.login_lay .blk div a{margin:0 0 0 130px;}
*/.mynav_lay{position:relative}
.lay{width:600px;top:-96px;background:none}
.lay .box div{text-align:right;padding:1px 0;background:#f2eff6;line-height:22px}
.lay .box div a{background:url(../images/lay_ico.gif) no-repeat left -129px;padding-left:15px;margin:0;padding-right:10px}
.lay .box ul{zoom:1;width:596px;background:#fff;padding:8px 0 7px 0;clear:both}
.lay .box ul:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.lay .box ul li{clear:both;line-height:150%}
.lay .box ul li a,.lay .box p{margin-left:10px;font-family:"宋体"}
.lay li b{margin-right:10px;font-weight:normal}
.lay li b a{color:#03c}
.lay .no{padding:0 0 0 10px}
a.gray{color:#ccc}
a.gray:hover{color:#ccc}
a.blu{color:#03c}
.selay{position:relative;z-index:200;top:28px;left:64px;}
.selay iframe{position:absolute}
.selay_blk{position:absolute;display:inline;z-index:200;width:198px;_width:200px;background:#fff;border:1px solid #40537d}
.selay_blk ul{margin:5px;padding:0}
.selay_blk ul li{font-family:"宋体"}
.selay_blk ul li input{vertical-align:middle;margin:0 4px 0 0;*margin:0}
.selay_blk ul li:hover{background:#f2eff6}
.selay_blk ul li a{_width:188px;color:#000;margin:0;font-family:"宋体";cursor:default;line-height:150%;}
.selay_blk ul li a label{font-family:"宋体"}
.selay_blk ul li a:hover{color:#000;_background:#f2eff6}
.selay_blk div{padding:0 0 7px 7px}
.selay_blk div input{width:45px;padding:3px 0 0}
.sech_layt{padding:3px 3px 0;border:1px solid #d7dbc4;border-bottom:0;margin:0 1px;background:#f2eff6}
.sech_layb{zoom:1;padding:9px 9px 10px;border:1px solid #d7dbc4;border-top:0;margin:0 1px 1px;background:#fff}
.sech_layb:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.sech_lay{background:none}
.sech_lay .blk{background:#c2d19a;zoom:1;}
.sech_lay .blk:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.sech_lay h1{background:#c2d19a url(../images/laybj.gif) repeat-x left top}
.sech_lay ol,.sech_lay2 ol{height:auto;_height:20px;min-height:20px;line-height:180%}
.sech_lay h3,.sech_lay h2{font-weight:normal;clear:both;font-size:12px}
.sech_lay h2{background:#fff;border-top:0;float:none;height:auto;padding:6px 0 0;margin:0}
#popupSelector h2 span{margin:0;padding:6px 0 0 4px}
.sech_lay h3{height:33px;padding:2px 0 0 10px;*padding:2px 3px 0 10px;margin:0;background:url(../images/lay_titbj.gif) repeat-x bottom}
.sech_lay h3 span{float:left;line-height:30px}
.sech_lay h3 b{float:right}
.sech_lay h3 b input{font-weight:normal;margin:1px 0 0 6px}
.sech_lay p{line-height:150%;clear:both;padding:2px 3px 9px 10px;margin:8px 0 0;text-align:left;}
.sech_lay2{background:#fff}
.sech_lay2 .box ol{zoom:1;padding:6px 6px 7px;}
.sech_lay2 .box ol:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.sech_lay2 li a,.sech_lay2 li a label{color:#000;font-family: "宋体";}
.sech_lay li a,.sech_lay li a label{color:#000;font-family:"宋体"}
.sech_lay li a:hover,.sech_lay2 li a:hover{color:#000}
.sech_layb a,.sech_lay2 a,.sech_lay label{display:block}
.sech_lay ul{padding:10px 0 7px}
.sech_lay ul li{text-indent:5px;_text-indent:3px;height:20px;line-height:20px}
.sech_lay ul li a{_width:auto;_height:18px;_line-height:18px;padding:2px 20px 1px 4px;*padding:2px 20px 0px 4px;_padding:0 20px 0 2px;border:1px solid #f2eff6;background:url(../images/lay_ico.gif) no-repeat;background-position:right -47px;*background-position:right -46px}
#popupSelector ul li a{line-height:150%}
.sech_lay ul li a:hover{color:#000;border:1px solid #c0ce99;background-position:right -79px;*background-position:right -78px}
.sech_lay ol li input{vertical-align:middle;margin-bottom:1px}
.sech_lay ol li:hover{background:#f2eff6}
.sech_lay ol li a:hover{_background:#f2eff6}
.sech_lay ol input{cursor:default}
div.lm ol li{cursor:pointer;background:url(../images/lay_ico.gif) no-repeat 99% 6px}
div.lm ol li:hover{background:#f2eff6 url(../images/lay_ico.gif) no-repeat 99% -21px}
div.lm ol li a, div.lm ol li a label{display:block;cursor:pointer;}
div.lm ol li a:hover{_background:#f2eff6 url(../images/lay_ico.gif) no-repeat 99% -21px}
.sech_lay2 ol li:hover{background:#f2eff6;/* cursor:default*/}
.sech_lay2 ol li a:hover{_background:#f2eff6;/* cursor:default*/}
.sech_lay2 ol li a:hover label{_background:#f2eff6}
.sech_lay2 ol li input{cursor:default}
.lay_wll ul,.lay_wl ul,.lay_wl2 ul,.lay_wms ul{height:auto;_height:72px;min-height:60px}
.lay_wll{width:746px}
.lay_wll li{width:360px;float:left}
.lay_wl{width:654px}
.lay_wl li{width:314px;float:left}
.lay_wl p{height:auto;_height:68px;min-height:58px}
.lay_wl2{width:582px;}
.lay_wl2 li{width:284px;float:left}
.lay_wls{width:586px}
.lay_wls ul{height:auto;_height:66px;min-height:60px;}
.lay_wls p{height:auto;_height:58px;min-height:58px}
.lay_wls ul li{width:280px;float:left}
.lay_wls ol li{width:140px;float:left}
.lay_ws li{width:140px;float:left}
.lay_ws li span{width:115px;}
.lay_wm{width:298px}
.lay_wm li{width:284px}
.lay_wms{width:352px;}
.lay_wms li{width:170px;float:left}
.lay_ws{width:296px}
.lay_wss{width:141px}
.lay_wss li{width:127px}
.lay_wll li a{_width:360px}
.lay_wl li a{_width:314px}
.lay_wl2 li a,.lay_wm li a{_width:284px}
.lay_wls li a{_width:140px}
.lay_ws li a{_width:140px}
.lay_wms li a{_width:170px}
.lay_wss li a{_word-break:break-all;_width:127px}
.sech_lay input,.sech_lay2 input{vertical-align:middle;_vertical-align:auto;margin:2px 6px 0 3px;*margin:-2px 3px 0 0}
.sech_lay .layshow,.sech_lay2 .layshow{background:#f2eff6 url(../images/lay_ico.gif) no-repeat 99% 6px}
.sech_lay .layicon,.sech_lay2 .layicon{background:#d0c6de url(../images/lay_ico.gif) no-repeat 99% 6px}
.sech_lay .layon a,.sech_lay2 .layon a{background:#d0c6de;cursor:default}
.sech_lay .layon a:hover,.sech_lay2 .layon a:hover{background:#f2eff6;cursor:default}
.nonelay a{background:#fff;cursor:default}
.nonelay a:hover{background:#f2eff6;cursor:default}
.sech_lay .nonelay a label,.sech_lay2 .nonelay a label,.sech_lay .layon a label,.sech_lay2 .layon a label{cursor:default}
/*更新用户名*/
.user_lay {width:750px;top:193px;left:50%;margin:0 0 0 -375px;position:absolute;z-index:99999;font-size:12px;}
.user_lay iframe{position:absolute;width:750px;height:300px;}
.user_lay h1{padding-top:0;margin:0}
.user_lay h5{font-size:12px;font-weight:normal;}
.user_lay .alert_lay{width:750px;}
.user_lay .blk{padding:35px;line-height:180%;background:#fff}
.user_lay .blk p{margin:0 0 20px;text-indent:25px;margin:0;padding:0;}
.user_lay .foblk{zoom:1;clear:both;padding:0 0 10px 10px;}
.user_lay .foblk:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.user_lay .foblk label{width:95px;*width:100px;line-height:20px;display:inline-block;text-align:right;padding:0;*padding:2px 0 0;}
.user_lay .foblk input{vertical-align:middle;margin:0 5px;}
.user_lay .foblk input.inp{width:170px;border:1px solid #b1bac1;height:20px;line-height:20px;}
.user_lay .foblk p{display:inline;clear:both;color:#979797;line-height:20px;font-family:"宋体"}
.user_lay .foblk p.suc{padding:2px 0 2px 20px;background:url(../images/l_ico.gif) no-repeat left -4px;}
.user_lay .foblk p.err{color:#f00;padding:2px 0 2px 20px;background:url(../images/l_ico.gif) no-repeat left -56px;}
.user_lay .foblk .butn_g{width:40px;}
.user_lay .butnblk{text-align:center;margin:30px 0 0;}
.user_lay .butnblk input{width:70px;margin:0 20px;}
.user_lay .butn_g{height:21px;line-height:21px;line-height:25px\9;*line-height:18px;_line-height:16px;padding:0 0 2px 0;*padding:3px 0 0;color:#fff;border:0;cursor:pointer;background:url(../images/my_butn.gif) no-repeat;width:63px;background-position:0 -126px}
.user_lay .butn_g:hover{background-position:left -147px}
