<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
  <h3>尊敬的 ${email} ： </h3>
  <p>您好！</p>
<p>请点击 <a href="${activeUrl}" target="_blank">安全密码找回链接</a> 重置您的安全密码。如果无法点击，可以复制下面的链接到地址栏：</p>
<p>${activeUrl}</p>
<p>若您的本机还在系统中，为了您的信息安全，系统会让您登出系统。</p>
<p style="color: gray;">airAD.com </p>
</body>
</html>