<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- ========================= GENERAL DEFINITIONS ========================= -->
    <!-- Configurer that replaces ${...} placeholders with values from a properties file -->
    <!-- (in this case, JDBC-related settings for the dataSource definition below) -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/com/ivyinfo/framework/service/config/connectionpool.properties</value>
            </list> 
        </property>
    </bean>
    	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">  
	<property name="driverClassName">
	      <value>${jdbc.driverClassName}</value>
    </property>
    <property name="url">
        <value>${jdbc.url}</value>
    </property>
    <property name="username">
        <value>${jdbc.username}</value>
    </property>
    <property name="password">
        <value>${jdbc.password}</value>
    </property>
    </bean>

	<!-- SqlMap setup for iBATIS Database Layer -->
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation"
			value="classpath:/com/ivyinfo/framework/service/config/sqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg>
			<ref bean="dataSource"/>			
		</constructor-arg>
	</bean>
	<!-- Maxid序列化管理  -->
    <bean id="Sequence" class="com.ivyinfo.framework.service.sequence.Sequence">
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate"/>
		</property>		
	</bean>
	<!-- inject DAO begin -->
	<bean id="purviewDAO" class="com.ivyinfo.purview.dao.PurviewDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="userDAO" class="com.ivyinfo.user.dao.UserDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<!-- inject DAO end -->
</beans>