<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- ========================= GENERAL DEFINITIONS ========================= -->
    <!-- Configurer that replaces ${...} placeholders with values from a properties file -->
    <!-- (in this case, JDBC-related settings for the dataSource definition below) -->
    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/com/ivyinfo/framework/service/config/connectionpool.properties</value>
            </list> 
        </property>
    </bean>
    	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">  
	<property name="driverClassName">
	      <value>${jdbc.driverClassName}</value>
    </property>
    <property name="url">
        <value>${jdbc.url}</value>
    </property>
    <property name="username">
        <value>${jdbc.username}</value>
    </property>
    <property name="password">
        <value>${jdbc.password}</value>
    </property>
    </bean>

	<!-- SqlMap setup for iBATIS Database Layer -->
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation"
			value="classpath:/com/ivyinfo/framework/service/config/sqlMapConfig.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg>
			<ref bean="dataSource"/>			
		</constructor-arg>
	</bean>
	<!-- Maxid序列化管理  -->
    <bean id="Sequence" class="com.ivyinfo.framework.service.sequence.Sequence">
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate"/>
		</property>		
	</bean>

	<!-- 注入DAO层 -->
	<bean id="testDAO" class="com.ivyinfo.test.dao.TestDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="webDiskDAO" class="com.ivyinfo.webdisk.dao.WebDiskDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="sendMailDAO" class="com.ivyinfo.mail.dao.SendMailDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="auxiliaryMailDAO" class="com.ivyinfo.mail.dao.AuxiliaryMailDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="receiveMailDAO" class="com.ivyinfo.mail.dao.ReceiveMailDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="deleteMailDAO" class="com.ivyinfo.mail.dao.DeleteMailDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="draftMailDAO" class="com.ivyinfo.mail.dao.DraftMailDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="deptDAO" class="com.ivyinfo.dept.dao.DeptDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="organizationDAO" class="com.ivyinfo.organization.dao.OrganizationDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="roleDAO" class="com.ivyinfo.role.dao.RoleDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="userDAO" class="com.ivyinfo.user.dao.UserDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="permissionsDAO" class="com.ivyinfo.permissions.dao.PermissionsDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="roleuserpurviewDAO" class="com.ivyinfo.roleuserpurview.dao.RoleUserPurviewDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<bean id="purviewDAO" class="com.ivyinfo.purview.dao.PurviewDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="communicationDAO" class="com.ivyinfo.communication.dao.CommunicationDAOImpl">
	 	<property name="sqlMapClient" ref="sqlMapClient" />   
	</bean>
	<bean id="communicationimDAO" class="com.ivyinfo.communication.dao.CommunicationIMDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	<!-- 
	<bean id="communicationmailDAO" class="com.ivyinfo.communication.dao.CommunicationMailDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	 -->
	<bean id="diskDAO" class="com.ivyinfo.webdisk.dao.DiskDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="orgpurviewDAO" class="com.ivyinfo.orgpurview.dao.OrgPurviewDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="sysemailDAO" class="com.ivyinfo.sysemail.dao.SysEmailDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="IMDAO" class="com.ivyinfo.im.dao.IMDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="imMessageDAO" class="com.ivyinfo.immessage.dao.IMMessageDAOImpl">
		
	</bean>
	
	<bean id="addressBookDAO" class="com.ivyinfo.addressbook.dao.AddressBookDAOImpl">
		
	</bean>
	
	<bean id="userPreDAO" class="com.ivyinfo.user.dao.UserPreDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="imcontactsDAO" class="com.ivyinfo.imcontacts.dao.IMContactsDAOImpl">
		
	</bean>
	
	<bean id="imcontactsNodeDAO" class="com.ivyinfo.imcontactsnode.dao.IMContactsNodeDAOImpl">
		
	</bean>
	
	<bean id="numberSegmentDAO" class="com.ivyinfo.numbersegment.dao.NumberSegmentDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="userCardRecycleDAO" class="com.ivyinfo.user.dao.UserCardRecycleDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="noteFolderDAO" class="com.ivyinfo.note.dao.NoteFolderDAOImpl">
		
	</bean>
	
	<bean id="noteDAO" class="com.ivyinfo.note.dao.NoteDAOImpl">
		
	</bean>
	
</beans>