<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	
	<bean id="transactionInterceptor" class="com.ivyinfo.framework.service.aop.ActionTransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
	</bean>
	
   	<bean id="noSqlApiServices" class="com.ivyinfo.cassandra.services.DaoServicesImpl"></bean>   
	
	<bean id="mailApiServices" class="com.ivyinfo.mail.services.MailApiServicesImpl">
		
	</bean>
	
	<bean id="auxiliaryMailServices" class="com.ivyinfo.mail.services.AuxiliaryMailServicesImpl">
		
	</bean>
	
	<bean id="saveMailServices" class="com.ivyinfo.mail.services.SaveMailServicesImpl">

	</bean>
	
	<bean id="meetingsysServices" class="com.ivyinfo.meeting.services.MeetingSysServicesImpl">

	</bean>
	
	<bean id="ftpUserServices" class="com.ivyinfo.user.services.FtpUserServicesImpl">

	</bean>
	
	<bean id="userConversion" class="com.ivyinfo.webtouch.conversion.UserConversionImpl">

	</bean>
	
	<bean id="initializationtableServices" class="com.ivyinfo.initializationtable.services.InitializationTableServicesImpl">

	</bean>
	
	<bean id="webDiskService" class="com.ivyinfo.webdisk.services.WebDiskServicesImpl">

	</bean>
	
	<bean id="userServices" class="com.ivyinfo.user.services.UserServicesImpl">
	
	</bean>
	
	<bean id="organizationServices" class="com.ivyinfo.organization.services.OrganizationServicesImpl">
	
	</bean>
	
	<bean id="sendMailServices" class="com.ivyinfo.mail.services.SendMailServicesImpl">
	
	</bean>
	
	<bean id="imcontactsServices" class="com.ivyinfo.imcontacts.services.IMContactsServicesImpl">
	
	</bean>
	
	<bean id="imcontactsNodeServices" class="com.ivyinfo.imcontactsnode.services.IMContactsNodeServicesImpl">
	
	</bean>
	
	<bean id="numberSegmentServices" class="com.ivyinfo.numbersegment.services.NumberSegmentServicesImpl">
	
	</bean>
	
	<bean id="numberSegInterface" class="com.ivyinfo.numbersegment.util.NumberSeg">
	
	</bean>

	<!-- Transaction manager for a single JDBC DataSource -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<aop:config>
		<!-- 管理事务操作 -->
		<aop:pointcut id="servicesPointcut" expression="execution(* com.ivyinfo.*.services.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="servicesPointcut" />
	</aop:config>
	<!-- 事务控制 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="remove*" propagation="REQUIRED" />
			<!--<tx:method name="get*" read-only="true" />-->
		</tx:attributes>
	</tx:advice>
	
</beans>