<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
  <h3>尊敬的 ${email} ： </h3>
  <p>您好！</p>
  <p>欢迎您注册成为 airAD 会员。</p>
<p>您的用户名为  <strong>${email}</strong> ，请点击 <a href="${activeUrl}" target="_blank">激活链接</a> 激活您的账号。 如果无法点击，可以复制下面的链接到地址栏：</p>
<p>${activeUrl}</p>
<p>airAD平台拥有行业内大量优质的移动应用以及广告资源，并通过业内相关领域专家所组成的强大团队有机的进行整合，将所有资源做到最大化应用，提高广告主的资金效率，提高开发者的实际收益。</p>
<p>感谢您选择我们的服务！</p>
<p style="color: gray;">此为系统邮件，请勿回复</p>
<p style="color: gray;">airAD.com </p>
<div>
</div>
</body>
</html>