<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body>
<h3>尊敬的 ${email} ： </h3>
<p>您好！</p>
<p> 您的登录密码已经成功更改。请妥善保管好您的密码，谨防丢失。</p>
<p style="color: gray;">airAD.com </p>
</body>
</html>