@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, table, caption,tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,       h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,fieldset, form, label, legend 
{vertical-align:baselinebaseline;font-weight:inherit;font-style:inherit;font-size:100%;outline:0;padding:0;margin:0;border:0;}       
:focus {outline:0;}       
body {font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333; background:#fff;}       
ol, ul {list-style: none;}       
table {border-collapse: separate;border-spacing: 0;}       
caption, th, td {font-weight: normal;}       
blockquote:before, blockquote:after, q:before, q:after {content:"";}       
blockquote, q{quotes: "" "";} 


/* 连接样式 */
a{color:#333; text-decoration:none;}
a:hover{color:#333; text-decoration:underline;}
.bule{color:#325e7f;}
a.bule{color:#325e7f; text-decoration:none;}
a.bule:hover{color:#325e7f; text-decoration:underline;}
.bule2{color:#325e7f;}
a.bule2{color:#325e7f; text-decoration:underline;}
a.bule2:hover{color:#c80000; text-decoration:none;}
.bule3{color:#0643e7;}
a.bule3{color:#0643e7; text-decoration:none;}
a.bule3:hover{color:#ff6600; text-decoration:underline;}
.bule4{color:#2ca9d7;}
a.bule4{color:#2ca9d7; text-decoration:none;}
a.bule4:hover{color:#2ca9d7; text-decoration:underline;}
.bai{color:#fff;}
a.bai{color:#fff; text-decoration:underline;}
a.bai:hover{color:#fff; text-decoration:none;}
.yellow{color:#fde125;}
a.yellow{color:#fde125; text-decoration:none;}
a.yellow:hover{color:#fde125; text-decoration:underline;}
.yellow2{color:#efb734;}
a.yellow2{color:#efb734; text-decoration:none;}
a.yellow2:hover{color:#fff; text-decoration:underline;}
.more{color:#999; font-weight:normal;}
a.more{color:#999; text-decoration:none;}
a.more:hover{color:#c80000; text-decoration:none;}
.red{color:#e90803;}
a.red{color:#e90803; text-decoration:none;}
a.red:hover{color:#e90803; text-decoration:underline;}
.red2{color:#333;}
a.red2{color:#333; text-decoration:none;}
a.red2:hover{color:#c80000; text-decoration:none;}
.red3{color:#de1b1c;}
a.red3{color:#de1b1c; text-decoration:underline;}
a.red3:hover{color:#0643e7; text-decoration:none;}
.font99{color:#999;}
.font33{color:#333;}
.bai{color:#fef1d8;}
a.bai{color:#fef1d8; text-decoration:none;}
a.bai:hover{color:#fde125; text-decoration:underline;}
.bai1{color:#fff;}
a.bai1{color:#fff; text-decoration:none;}
a.bai1:hover{color:#fff; text-decoration:underline;}
.black{font-size:12px; color:#000; line-height:24px;}
a.black{color:#000; text-decoration:none;}
a.black:hover{color:#000; text-decoration:underline;}
.org{color:#f60;}
a.org{color:#f60; text-decoration:none;}
a.org:hover{color:#f60; text-decoration:underline;}
.org2{color:#333;}
a.org2{color:#333; text-decoration:none;}
a.org2:hover{color:#f60; text-decoration:none;}
.green{color:#333;}
a.green{color:#333; text-decoration:none;}
a.green:hover{color:#4d6e00; text-decoration:none;}
.green1{color:#4d6e00;}
a.green1{color:#4d6e00; text-decoration:none;}
a.green1:hover{color:#4d6e00; text-decoration:underline;}
.green2{color:#333;}
a.green2{color:#333; text-decoration:underline;}
a.green2:hover{color:#4d6e00; text-decoration:none;}
.green3{color:#05a614;}
a.green3{color:#05a614; text-decoration:none;}
a.green3:hover{color:#05a614; text-decoration:underline;}
.green4{color:#a0d501;}
.font66{color:#666;}
a.font66{color:#666; text-decoration:none;}
a.font66:hover{color:#f60; text-decoration:underline;}
.pink{color:#f9b8ba;}
a.pink{color:#f9b8ba; text-decoration:none;}
a.pink:hover{color:#fff; text-decoration:underline;}
.blackline{color:#333;}
a.blackline{color:#333; text-decoration:underline;}
a.blackline:hover{color:#f60; text-decoration:none;}
.bai2{color:#fff;}
a.bai2{color:#fff; text-decoration:none;}
a.bai2:hover{color:#fff; text-decoration:underline;}

/* 公共属性 */
.bold{font-weight:700;}
.floatright{float:right;}
.floatleft{float:left;}
.line{color:#bdbdbd; padding:0 10px;}
.font14{font-size:14px;}
.font13{font-size:13px;}
.font12{font-size:12px;}
.font16{font-size:16px;}
.font18{font-size:19px;}
.font20{font-size:20px;}



#wrap2{width:760px; margin:0 auto;}



/* 注册、创建等表单 */
.tex_c{text-align:center; padding-top:10px;}
.register{margin-bottom:20px; float:left; width:760px;}
.JHtittle{height:30px; border-bottom:#dedede 1px dashed; line-height:30px; font-size:14px; margin-bottom:20px; font-weight:700; clear:both; padding:0 15px;}
.JHcontent{padding:5px 0; height:40px; clear:both;}
.text{float:left; width:190px; line-height:30px; clear:both;}
.message{float:left; line-height:16px; padding-left:10px;}
.txt{text-align:right; float:left; width:175px; font-size:14px;}
.redstar{float:left; width:15px; text-align:center; color:#FF0000;}
#inputtb{float:right;line-height:30px; width:570px;}
.inp_mapbox{border:#dedede 1px solid; height:180px; width:500px;}
.xieyi{text-align:center; margin:20px 0;}
.reg_btn{text-align:center; padding:20px 0 40px 0; clear:both;}

/*底部样式*/
#y_footer{text-align:center; line-height:30px; margin:20px 0;}
#footer{clear:both; text-align:center; line-height:30px; border-top:#fef1c2 3px solid; padding-top:10px;}
#footer h1,h2,h3{font-weight:normal;}