/*
input{
font-size:1em;
}
a{color:#345375}
form{
margin:0;
padding:0;
}
form div{
margin:auto;
margin-bottom:.6em;
width:88%;
}
.input{
margin-bottom:1em;
text-align:left;
}
*/
.im_talk{
font-family:"Verdana";
color:#444;
padding:0;
text-align:center;
background:#FFf;
}
/*
.input input{
width:100%;
}
*/
.im_titlebar{
background:url(../../images/im/title_left.bmp) no-repeat 0% 0%;
font-size:80%;
text-align:left;
line-height:1.7em;
padding-left:2px;
}
.im_title_right{
background:url(../../images/im/title_right.bmp) no-repeat 100% 0%;
}
.im_title_content{
margin-left:5px;
margin-right:5px;
background:url(../../images/im/toolbar.bmp) repeat-x;
}
/*
.title_content img{
float:right;
margin:.2em;
margin-right:0;
}
*/
.im_toolbar{
text-align:left;
margin:.3em;
font-size:86%;
margin-bottom:15%;
border-bottom:1px solid #A2A2A2;
}
.im_login_state{
font-size:95%;
line-height:1.6em;
}
.im_desp,.im_user{
font-size:"新宋体";
padding-left:13px;
}
.im_user{
margin-left:.2em;
clear:both;
background:url(../../images/im/state_unlink.png) no-repeat 0% 50%;
}
.im_desp{
color:#999;
}
/*
.more_link{
margin-top:1em;
font-size:90%;
}
.more_link a{
display:block;
margin-bottom:.7em;
}
.login_submit{
margin-top:.6em;
padding:.2em 1.7em 0;
font-size:90%;
}
*/
.im_search_wrapper{
padding-left:17px;
margin:auto;
margin-bottom:.3em;
border:1px solid #bebebe;
background:url("../../images/im/search.png") no-repeat;
height:19px;
_width:88%;
}
.im_search{
height:16px;
font-size:1.1em;
padding-top:.1em;
border-width:0;
color:#999;
width:97%;
}
.im_resize_drag{
float:right;margin:0;padding:0;cursor:nw-resize;
padding-right:2px;
padding-top:8px;
padding-bottom:2px;
}
.im_bottombar{
border:1px solid #969696;
border-top-width:0;
}
.im_talk_body{
height:480px;
border:1px solid #969696;
border-top-color:#ccc;
border-bottom-width:0;
}
.im_bottombar,.im_titlebar,.im_talk_body{
float:right;
width:100%;
}
.im_button{
float:left;margin-left:.4em;
cursor:pointer;
}


/*----------获取contact的样式-------------
a:link,a:visited{
color:#094477;text-decoration:none;font-size:12px;
}
a:link:hover,a:visited:hover{
color:#000cf;text-decoration:underline;
}
a.bold:link,a.bold:visited{
color:#FFF;text-decoration:none;
display:block;
font-weight:bold;
font-size:18px;
width:100px;height:30px;
background-color:#009966;
padding:10px;
margin:50px 0 0 100px;
text-align:center;
float:left;
}
*/
/*关键是下面的css
ul.proul,ul.subcity,ul.proul li ul.subcity{
list-style:none;padding:0;margin:0;
}
ul.subcity{
display:none;list-style:none;padding:0;margin:0;
}
li.blogprolist a{
height:16px;width:145px;background:url(../../images/im/new-probar.gif) no-repeat 0 0;
display:block;margin:1px 0;text-align:center;font-weight:bold;padding:3px 0 0 0;
}
li.blogprolist a:link:hover,li.blogprolist a:link:active{
background:url(../../images/im/new-probar-act.gif) no-repeat 0 0;text-decoration:none;
}
.highlight{background:url(../../images/im/new-probar-act.gif) no-repeat 0 0;color:Red;
}
ul.subcity li a{
background:#fff;font-weight:normal;width:140px;border:1px solid #dfb68a;
border-top:0;border-bottom:0;margin:0 0 0 1px;
}*/