/*==========================================================
    (c) Chinaz.com
==========================================================*/
/*= Gobal reset ==========================================*/
body,div,address,blockquote,iframe,ul,ol,dl,dt,dd,h1,h2,h3,h4,h5,h6,p,pre,table,caption,th,td,form,legend,fieldset{margin:0;padding:0;font-size:100%;}
ol,ul{list-style:none;}
img,iframe,fieldset{border:0;}
*:focus{outline:0;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;}
body{font:75%/1.5 "Lucida Grande",Helvetica,Arial,sans-serif;}
code,pre{font-family:Consolas,"Courier New",monospace;}

input,button,select,textarea{font-size:100%;font-family:"Lucida Grande",Helvetica,Arial,sans-serif;}
input.text{padding:2px 1px;height:1.4em;line-height:1.4;}
input.text,textarea{border:1px solid #dcdcdc;}
input.text:focus,textarea:focus{border:1px solid;border-color:#a6cae2 #c7e3f1 #c7e3f1 #a6cae2;}
input.button,button{cursor:pointer;overflow:visible;}
textarea{overflow:auto;resize:none;}
label[for],input[type="button"],input[type="submit"]{cursor:pointer;}

a:link,a:visited{color:#12459c;text-decoration:none;}
a:hover,a:active{text-decoration:underline;}

.require{color:#c00;font-weight:bold;cursor:help;}
.clear{clear:both;height:0;overflow:hidden;}
.clearfix{zoom:1;}
.clearfix:after{content:".";display:block;clear:both;height:0;font:0/0 sans-serif;visibility:hidden;}

/*= Main skin style and layout ===========================*/
body{background:url(../images/head_bg.jpg) no-repeat 50% 28px;}
.container{min-width:980px;margin:0 auto;background:url(../images/nav_bg.png) no-repeat 50% 147px;}

.toolbar{margin-bottom:15px;background:#fafafa url(../images/toolbar.gif) repeat-x 0 100%;}
.toolbar-inner{width:980px;margin:auto;height:28px;background:url(../images/toolbar.gif) repeat-x 0 100%;}

.userbar{float:right;white-space:nowrap;margin-top:3px;}
.userbar a{float:left;display:inline;margin-left:10px;height:20px;line-height:20px;}
.userbar a:link,.userbar a:visited{color:#000;}
.userbar a:hover,.userbar a:active{color:#12459c;cursor:pointer;}
.userbar .counts{font-size:83%;font-style:normal;background:#c00;color:#fff;padding:0 .3em;-moz-border-radius:0.6em;-webkit-border-radius:0.6em;border-radius:0.6em;}
* html .userbar .counts{position:relative;top:-4px;}
.userbar a.username:link,.userbar a.username:visited{color:#12459c;}
.userbar a.item-expand{margin-right:-7px;margin-left:5px;padding-right:18px;background:url(../images/toolbar_arrow.gif) no-repeat 100% 0;}
.userbar a.hover{position:relative;z-index:100;background:url(../images/toolbar_arrow.gif) no-repeat 100% -50px;}
.userbar a.item-expand span{float:left;padding-left:5px;background:url(../images/toolbar_arrow.gif) no-repeat 0 999px;}
.userbar a.hover span{background-position:0 -100px;}

.accesslink{float:left;white-space:nowrap;margin-top:3px;/*Fixed IE < 8 bug*/position:relative;z-index:1;}
.accesslink li{float:left;position:relative;}
.accesslink a{float:left;display:inline;margin-left:10px;height:20px;line-height:20px;}
.accesslink a:link,.accesslink a:visited{color:#000;}
.accesslink a:hover,.accesslink a.active{color:#12459c;cursor:pointer;}
.accesslink a.item-expand{margin-right:-7px;margin-left:5px;padding:0 18px 0 0px;background:url(../images/toolbar_arrow.gif) no-repeat 100% 0;}
.accesslink a.item-expand:hover,.accesslink li:hover a.item-expand,.accesslink li.hover a.item-expand{position:relative;z-index:100;background:url(../images/toolbar_arrow.gif) no-repeat 100% -50px;}
.accesslink a.item-expand span{float:left;padding-left:5px;background:url(../images/toolbar_arrow.gif) no-repeat 0 999px;}
.accesslink a.item-expand:hover span,.accesslink li:hover a.item-expand span,.accesslink li.hover a.item-expand span{background-position:0 -100px;}
.accesslink .dropdownmenu-wrap{left:4px;top:18px;visibility:hidden;}
.accesslink .dropdownmenu{width:110px !important;}
.accesslink .dropdownmenu-inner{border:1px solid #bbb;}
.accesslink .dropdownmenu a{display:block;float:none;margin:0;padding:0 10px;height:auto;line-height:2;}
.accesslink li:hover .dropdownmenu-wrap,.accesslink li.hover .dropdownmenu-wrap{visibility:visible;}

.topbar-hiddencontents{display:none;}

.userbar,.accesslink{*margin-top:4px;margin-top:4px\9;}
* html .userbar,* html .accesslink{margin-top:5px;}

/*= Header =*/
.header{width:980px;margin:0 auto 10px;}
.header .brand{float:left;padding-left:20px;}
.header .brand h1{float:left;}
.header .brand h1 a{display:block;width:150px;height:60px;overflow:hidden;text-indent:-9999px;margin-right:10px;background:url(../images/logo.png) no-repeat;}
.header .brand h2{float:left;line-height:60px;font-size:150%;font-weight:normal;}
.header .brand h2 a:link,.header .brand h2 a:visited{color:#000;text-decoration:none;}
.header .ad-banner-header{float:right;}

.siteportalnav{width:980px;margin:0 auto 10px;}
.siteportalnav li{float:left;font-size:117%;margin-right:5px;}
.siteportalnav li a{float:left;font-weight:bold;padding-right:5px;background:url(../images/nav.png) no-repeat 100% -120px;cursor:pointer;text-shadow:0 1px 0 #f2f2f2;}
.siteportalnav li span{float:left;color:#505050;padding:0 10px 0 15px;background:url(../images/nav.png) no-repeat 0 -80px;}
.siteportalnav li strong{float:left;height:36px;line-height:36px;padding:0 5px;}
.siteportalnav li a.current{background-position:100% -40px;}
.siteportalnav li a.current span{color:#12459c;background-position:0 0;}
.siteportalnav li a:link,.siteportalnav li a:visited{text-decoration:none;}
.siteportalnav li.usercenter strong{padding-left:30px;background:url(../images/nav_usercenter.gif) no-repeat 0 50%;}

.subnav{width:980px;margin:0 auto 10px;color:#666;}
.subnav a:link,.subnav a:visited{color:#666;}

.main{width:980px;margin:0 auto;}
.main .content{float:right;width:100%;}
.main .content-inner{margin-left:190px;}
.main .sidebar{float:left;width:180px;margin-right:-180px;}

.footer{width:980px;margin:0 auto;padding:20px 0;line-height:1.8;text-align:center;color:#999;background:url(../images/foot_bg.png) no-repeat 50% 0;}
.footer a:link,.footer a:visited{color:#999;}

/*= Sidebar =*/
.sidebarmenu{margin-bottom:10px;padding-top:5px;background:url(../images/sidebar_bg.gif) no-repeat;}
.sidebarmenu-inner{padding-bottom:5px;background:url(../images/sidebar_bg.gif) no-repeat -180px 100%;}
.sidebarmenu-list{border:1px solid #e6e6e6;border-width:0 1px;background:#fff;}
.sidebarmenu h3{font-size:117%;margin:0 15px;padding-top:5px;}
.sidebarmenu ul{overflow:hidden;zoom:1;}
.sidebarmenu ul li{clear:both;font-size:117%;margin:-1px 5px 0 10px;padding:10px; border-top:1px dashed #f0f0f0;text-align:right;overflow:hidden;*overflow: visible;}
.sidebarmenu ul a{float:left;padding-left:25px;background-repeat:no-repeat;background-position:0 50%;}
.sidebarmenu ul a.extra{float:none;font-size:12px;padding:0;white-space:nowrap;zoom:1;}
.sidebarmenu ul a:link,.sidebarmenu ul a:visited{color:#000;}
.sidebarmenu ul a:hover,.sidebarmenu ul a:active{color:#12449c;}
.sidebarmenu ul a.extra:link,.sidebarmenu ul a.extra:visited{color:#666;}
.sidebarmenu ul a.current,.sidebarmenu ul a.current:link,.sidebarmenu ul a.current:visited{font-weight:bold;color:#12449c;}
.sidebarmenu ul .unreads{font-size:83%;font-weight:normal;color:#c00;}

/*= Panel =*/
.pwrap{margin-bottom:10px;}
.phead{padding-left:5px;background:url(../images/panel.png) no-repeat 0 -150px;}
.phead-inner{padding-right:5px;background:url(../images/panel.png) no-repeat 100% -250px;}
.phead-inner .phead-inner{height:50px;background:url(../images/panel.png) repeat-x 0 -200px;overflow:hidden;}
.pwrap-simple .phead{background-position:0 0;}
.pwrap-simple .phead-inner{background-position:100% -100px;}
.pwrap-simple .phead-inner .phead-inner{background-position:0 -50px;}
.ptitle{float:left;font-size:117%;color:#12459c;line-height:50px;}
.ptitle span{float:left;padding-left:10px;}
.pextra{float:right;line-height:50px;}
.pbody{padding:0 10px;border:1px solid #dcdcdc;border-width:0 1px;background:#fff;}
.pfoot{height:10px;padding-left:5px;background:url(../images/panel.png) no-repeat 0 -300px;}
.pfoot p{padding-right:5px;background:url(../images/panel.png) no-repeat 100% -320px;}
.pfoot b{display:block;height:10px;font:0/0 sans-serif;overflow:hidden;background:url(../images/panel.png) repeat-x 0 -310px;}
.phead-inner,.pbody{zoom:1;}
.phead-inner:after,.pbody:after{content:".";display:block;clear:both;height:0;font:0/0 sans-serif;visibility:hidden;}

/*= Pagetab =*/
.pagetab-wrap{margin-bottom:10px;height:29px;border-bottom:1px solid #dcdcdc;}
* html .pagetab-wrap{overflow:hidden;}
.pagetab{float:left;padding-left:10px;}
.pagetab li{float:left;margin-right:5px;line-height:30px;}
.pagetab a{float:left;display:block;padding-right:5px;background:url(../images/pagetab.png) no-repeat 100% -90px;cursor:pointer;}
.pagetab a span{float:left;height:30px;padding:0 20px 0 25px;background:url(../images/pagetab.png) no-repeat 0 -60px;}
.pagetab a:link,.pagetab a:visited{color:#333;text-decoration:none;}
.pagetab a.current{background-position:100% -30px;position:relative;}
.pagetab a.current span{background-position:0 0;}
.pagetab a.current:link,.pagetab a.current:visited{color:#000;}

/*= Form group =*/
.formrow .label .form-note{font-weight:normal;}
.formrow .captcha img{cursor:pointer;}
.formrow .form-note{color:#666;}
.formrow .form-tip{margin-left:5px;padding:1px 10px 1px 25px;border:1px solid;background-repeat:no-repeat;background-position:0 50%;white-space:nowrap;display:inline-block;}
.formrow .tip-error{color:#c00;border-color:#ffe79c;background:#fffaea url(../images/icons/error.gif) no-repeat 5px 50%;}
.formrow .tip-success{color:#090;border-color:#abdc97;background:#f5fff1 url(../images/icons/valid.gif) no-repeat 5px 50%;}
.formrow .tip-alert{color:#c60;border-color:#fae2b9;background:#ffffe3 url(../images/icons/alert.gif) no-repeat 5px 50%;}
.formrow{zoom:1;}
.formrow:after{content:".";display:block;clear:both;height:0;font:0/0 sans-serif;visibility:hidden;}

/*= Buttons =*/
.btn-wrap,.minbtn-wrap{float:left;display:block;margin-right:10px;padding-right:5px;background:url(../images/button.png) no-repeat 100% 0;}
.btn-wrap .btn,.minbtn-wrap .btn{float:left;height:31px;line-height:31px;background:url(../images/button.png) no-repeat 0 -31px;overflow:hidden;}
.btn-wrap .button,.minbtn-wrap .button{font-size:117%;float:left;display:block;height:31px;line-height:31px;padding:0 5px 0 10px;border:0;color:#12459c;background:transparent;white-space:nowrap;cursor:pointer;}
.btn-wrap a:link,.btn-wrap a:visited,.minbtn-wrap a:link,.minbtn-wrap a:visited{text-decoration:none;}

.btn-disable{background-position:100% -124px;}
.btn-disable .btn{background-position:0 -155px;}
.btn-disable .button{color:#999;cursor:default;}

/*= Operate messages =*/
.alertmsg,.infomsg,.errormsg,.successmsg{margin-bottom:10px;padding:5px 10px 5px 25px;border:1px solid;}
.alertmsg{border-color:#fae2b9;background:#ffffe3 url(../images/icons/alert.gif) no-repeat 5px 50%;}
.infomsg{border-color:#bedeff;background:#f3f8fd url(../images/icons/info.gif) no-repeat 5px 50%;}
.errormsg{border-color:#ffe79c;background:#fffaea url(../images/icons/error.gif) no-repeat 5px 50%;}
.successmsg{border-color:#abdc97;background:#f5fff1 url(../images/icons/valid.gif) no-repeat 5px 50%;}

/*= pagination =*/
.pagination{line-height:23px;margin-bottom:10px;}
.pagination-inner{float:right;}
.pagination a{float:left;display:inline;margin-left:4px;padding:0 6px;border:1px solid #dcdcdc;background:#fff;}
.pagination a:link,.pagination a:visited{color:#333;text-decoration:none;}
.pagination a.current,.pagination a.current:link,.pagination a.current:visited{font-weight:bold;border-color:#c8c8c8;background:#dcdcdc;}
.pagination .jump-input{float:left;display:inline;margin-left:4px;}
.pagination .jump-input input.text{width:2em;padding:0 2px;height:23px;line-height:23px;vertical-align:middle;}
.pagination .jump-button{float:left;height:23px;padding-right:5px;background:url(../images/button_4.png) no-repeat 100% 0;}
.pagination .jump-button .btn{float:left;height:23px;background:url(../images/button_4.png) no-repeat 0 -23px;}
.pagination .jump-button .button{height:23px;line-height:23px;border:0;padding:0 5px 0 10px;color:#12459c;background:transparent;}

/*= Ajax loading =*/
.ajaxloading{padding:10px;color:#666;white-space:nowrap;}
.ajaxloading span{padding-left:20px;background:url(../images/ajaxloading.gif) no-repeat 0 50%;}

/*= Nodata =*/
.nodata{padding:50px 10px;color:#999;text-align:center;}

/*= Data Table =*/
.datatable-caption{margin-bottom:10px;}
.datatable{width:100%;margin-bottom:10px;}
.datatable td{padding:7px 5px;border-bottom:1px solid #eee;}
.datatable thead td{padding:5px;color:#666;border-top:1px solid #f0f0f0;border-bottom:1px solid #e6e6e6;background:#fafafa url(../images/table_head.gif) repeat-x 0 100%;white-space:nowrap;}
.datatable tr.row-even td{background-color:#fafafa;}

/*= System notice =*/
.systemnotice-wrap{margin-bottom:10px;padding-left:40px;background:url(../images/systemnotice.png) no-repeat;}
.systemnotice{padding-right:10px;background:url(../images/systemnotice.png) no-repeat 100% -60px;}
.systemnotice-inner{height:30px;line-height:30px;overflow:hidden;background:url(../images/systemnotice.png) repeat-x 0 -30px;}
.systemnotice .title{float:left;color:#f60;margin-right:10px;}
.systemnotice .forumnotice{float:left;}
.systemnotice .forumnotice .date{color:#999;}

/*= Ads =*/
.adwrap{margin-bottom:10px;}

/*= Account infomation =*/
.accountinfo .ptitle span{padding-left:60px;background:url(../images/panel_icon_1.gif) no-repeat 0 50%;}
.account-notify{float:left;display:inline;line-height:50px;margin-left:20px;}
.account-notify a{margin-right:20px;}
.account-notify .count{color:#c00;}
.account-notify a:link,.account-notify a:visited{color:#666;}

.accountinfo-dock{padding-left:80px;padding-right:200px;}
.accountinfo-dock .account-avatar{float:left;display:inline;width:56px;margin:5px 0 0 -75px;}
.accountinfo-dock .account-avatar a{float:left;position:relative;padding:3px;border:1px solid #dcdcdc;background:#fff;}
.accountinfo-dock .account-avatar .avatar-change{position:absolute;top:2px;right:2px;width:11px;height:11px;overflow:hidden;text-indent:-9999px;background:url(../images/avatar_edit.gif) no-repeat;visibility:hidden;}
.accountinfo-dock .account-avatar a:hover .avatar-change{visibility:visible;}
.accountinfo-dock .account-avatar a:hover{cursor:pointer;}
.accountinfo-dock .account-avatar img{display:block;}
.account-uesrinfo{margin-bottom:5px;}
.account-uesrinfo .account-name{font-size:150%;font-weight:bold;margin-right:5px;}
.account-uesrinfo .account-id{color:#ccc;margin-right:10px;}
.account-uesrinfo .account-phoneauth-no{margin-right:10px;padding-left:20px;background:url(../images/icons/phone_auth_no.gif) no-repeat 0 50%;zoom:1;}
.account-uesrinfo .account-phoneauth-yes{color:#666;margin-right:10px;padding-left:20px;background:url(../images/icons/phone_auth_yes.gif) no-repeat 0 50%;zoom:1;}
.account-uesrinfo .account-nameauth-no{margin-right:10px;padding-left:20px;background:url(../images/icons/user_auth_no.gif) no-repeat 0 50%;zoom:1;}
.account-uesrinfo .account-nameauth-yes{color:#666;margin-right:10px;padding-left:20px;background:url(../images/icons/user_auth_yes.gif) no-repeat 0 50%;zoom:1;}

.account-quicktools{float:right;width:190px;display:inline;margin-right:-200px;}

.account-baseinfo,.account-track{margin-bottom:5px;color:#666;}
.account-baseinfo{color:#333;}
.account-baseinfo span,.account-track span{margin-right:30px;}

/*= Popup dialog =========================================*/
.dialog{position:absolute;padding:5px;background:transparent url(../images/shadow.png);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.dialog-inner{background:#f6fbff;border:1px solid #779cb0;}

/*= Dropdown menu ========================================*/
.dropdownmenu-wrap{position:absolute;margin:3px 0 0 3px;z-index:10;background:transparent url(../images/shadow.png);}
.dropdownmenu{position:relative;top:-2px;left:-2px;width:150px;background:#fff;}
.dropdownmenu-list,
.dropdownmenu-inner{padding:1px;border:1px solid #bbbbbb;zoom:1;}
.dropdownmenu a:link,.dropdownmenu a:visited{color:#000;}

.dropdownmenuloader{text-align:center;padding:40px 10px 20px 10px;color:#999;background:url(../images/ajaxloading.gif) no-repeat 50% 20px;}

/*= Notice & Message =*/
.menu-notice .dropdownmenu{width:260px;}
.menu-notice .noticelist{padding:0 10px 0 9px;overflow:hidden;}
.menu-notice .noticelist li{margin:-1px 0 7px 0;padding-top:5px;border-top:1px solid #ddd;}
.menu-notice .noticelist .date{font-size:92%;color:#999;}
.menu-notice .noticelist .action{color:#999;text-align:right;}
.menu-notice .noticelist .action a:link,.menu-notice .noticelist .action a:visited,
.menu-notice .noticelist .entry a:link,.menu-notice .noticelist .entry a:visited,
.menu-notice .messagelist .msgignore:link,.menu-notice .messagelist .msgignore:visited{color:#12459c;}
.menu-notice .noticelist-nodata,
.menu-notice .messagelist-nodata{padding:20px;text-align:center;color:#999;}
.menu-notice .messagemenu-link{text-align:right;margin:0 10px;padding:5px 0;border-top:1px solid #ddd;}
.menu-notice .messagelist li{margin:-1px 0 0 0;border-top:1px solid #ddd;}
.menu-notice .messagelist .msgitem{display:block;padding:5px 0 7px 40px;}
.menu-notice .messagelist .msgitem:hover,
.menu-notice .messagelist .msgitem:active{text-decoration:none;background-color:#f6fbff;}
.menu-notice .messagelist .avatar{float:left;display:inline;width:32px;margin:3px 0 0 -40px;}
.menu-notice .messagelist .avatar img{background:#fff;padding:3px;border:1px solid #f0f0f0;}
.menu-notice .messagelist .name{float:left;font-weight:bold;margin-right:5px;}
.menu-notice .messagelist .unread{float:left;font-weight:bold;color:#c00}
.menu-notice .messagelist .date{float:right;font-size:92%;color:#999;}
.menu-notice .messagelist .summary{float:left;width:100%;overflow:hidden;white-space:nowrap;}
.menu-notice .messagelist .lastmsg{padding-right:2.5em;}
.menu-notice .messagelist .msgignore{float:right;margin-top:-2em;}

/*= Setting =*/
.menu-normal .dropdownmenu-inner{border-color:#bbb;}
.menu-normal .dropdownmenu-inner a{display:block;padding:0 10px;line-height:2;}

.menu-setting{margin:2px 0 0 3px;padding-bottom:1px;}
.menu-setting .dropdownmenu{width:200px;top:-1px;}
.menu-setting .dropdownmenu-inner{padding:10px;border:1px solid #bbb;}
.menu-setting .menu-setting-account{margin-bottom:5px;padding:0 0 10px 62px;border-bottom:1px dashed #ddd;}
.menu-setting .menu-setting-account .accountavatar{float:left;display:inline;margin-left:-62px;width:52px;}
.menu-setting .menu-setting-account .accountavatar a{background:none;display:block;}
.menu-setting .menu-setting-account .accountavatar img{display:block;padding:1px;border:1px solid #e6e6e6;}
.menu-setting .menu-setting-account .visible,
.menu-setting .menu-setting-account .invisible{position:relative;display:block;float:right;width:16px;height:16px;overflow:hidden;text-indent:-999px;margin:-18px -2px 0 0;padding:2px;background:#fff url(../images/ueser_invisible.gif) no-repeat 50%;-webkit-border-radius:5px 0 0 0;-moz-border-radius:5px 0 0 0;border-radius:5px 0 0 0;}
.menu-setting .menu-setting-account .visible{background-image:url(../images/ueser_visible.gif);}
.menu-setting .menu-setting-account .toggle{clear:both;width:52px;text-align:center;}
.menu-setting .menu-account-info{margin-bottom:5px;line-height:1.6;}
.menu-setting .menu-account-info li{float:left;width:49.9%;white-space:nowrap;}
.menu-setting .menu-account-info li.span{width:100%;white-space:normal;}
.menu-setting .menu-account-info .label{color:#999;margin-right:5px;}
.menu-setting .menu-account-info .value{font-style:normal;color:#f60;}
.menu-setting .menu-setting-list li{float:left;line-height:1.8;width:49.9%;}
.menu-setting .menu-setting-list a{white-space:nowrap;}
.menu-setting .menu-setting-list a:link,.menu-setting .menu-setting-list a:visited{color:#000;}

/*= Tip =*/
.menu-tip-fixed{position:relative;top:-40px;width:960px;margin:0 auto;height:0;}
.menu-tip{top:38px;margin-left:750px;background:transparent none;opacity:.95;}
.menu-tip .dropdownmenu{width:220px;background:transparent none;}
.menu-tip .dropdownmenu-inner{padding:0;border:1px solid #dfc97f;background:#fbfbf0;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:inset 0 1px 0 #fff,0 1px 3px rgba(0,0,0,0.15);-moz-box-shadow:inset 0 1px 0 #fff,0 1px 3px rgba(0,0,0,0.15);box-shadow:inset 0 1px 0 #fff,0 1px 3px rgba(0,0,0,0.15);}
.menu-tip .menu-closer{float:right;}
.menu-tip .menu-closer a{float:left;display:inline;margin:5px 5px 0 0;width:14px;height:0;padding-top:14px;overflow:hidden;background:url(../images/menu_tip_close.gif) no-repeat;}
.menu-tip-list li{margin:5px 10px;}
.menu-tip-list strong{color:#c00;}
.menu-tip a:link,.menu-tip a:visited{color:#0af;}

/*= Friend =*/
.menu-friend{background:transparent none;}
.menu-friend .dropdownmenu{width:250px;background:#fff;}
.menu-friend .dropdownmenu-inner{padding:0;border-color:#b4c9dd;}

.menufriend-head{position:relative;height:72px;overflow:hidden;border-bottom:1px solid #b4c9dd;background:url(../images/menu_friend_bg_2.png) no-repeat;}
.menufriend-head-inner{padding:9px 7px 9px 70px;}
.menufriend-head .avatar{float:left;display:inline;width:54px;margin-left:-63px;}
.menufriend-head .avatar a{float:left;background:url(../images/menu_friend_bg_2.png) no-repeat 0 -300px;}
.menufriend-head .username{margin-bottom:5px;padding-top:3px;cursor:move;}
.menufriend-head .closer{position:absolute;top:8px;right:10px;}
.menufriend-head .closer a{display:block;width:22px;height:22px;text-indent:-9999px;overflow:hidden;background:url(../images/menu_friend_bg_2.png) no-repeat -100px -300px;}
.menufriend-head .closer a:hover{background-position:-122px -300px;}
.menufriend-body{height:290px;overflow:auto;background:#fff url(../images/menu_friend_bg_2.png) no-repeat 0 -400px;}
.menufriend-body-inner{padding:5px;}
.menufriend-body a:link,.menufriend-body a:visited{text-decoration:none;}
.menufriend-title{margin-bottom:1px;padding-right:2px;background:url(../images/menu_friend_bg.png) no-repeat -999px 0;}
.menufriend-title a{display:block;font-weight:normal;padding-left:20px;background:url(../images/menu_friend_bg.png) no-repeat 0 -100px;cursor:pointer;}
.menufriend-title span{display:block;padding-right:3px;height:25px;line-height:25px;background:url(../images/menu_friend_bg.png) repeat-x 0 -999px;}
.menufriend-title .count{font-style:normal;color:#999;}
.menufriend-title:hover{background-position:100% -175px;}
.menufriend-title:hover a{background-position:0 -125px;}
.menufriend-title:hover span{background-position:0 -150px;}
.menufriend-group-expand .menufriend-title{background-position:100% -250px;}
.menufriend-group-expand .menufriend-title a{background-position:0 -200px;}
.menufriend-group-expand .menufriend-title span{background-position:0 -225px;}
.menufriend-list .frienditem{padding:4px 5px 4px 40px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.menufriend-list .frienditem:hover{padding:3px 4px 3px 39px;border:1px solid #ffe5a0;background:#fffae3;}
.menufriend-list .frienditem .avatar{float:left;display:inline;margin:5px 0 0 -35px;}
.menufriend-list .frienditem .avatar img{padding:1px;background:#fff;border:1px solid #eee;}
.menufriend-list .online .avatar img{background:#85deff;border:1px solid #f0fbff;}
.menufriend-list .space{display:inline-block;width:16px;height:16px;border:1px solid #fff;background:url(../images/icons/space.gif) no-repeat;}
.menufriend-list .space:hover{border-color:#ffe5a0;background-color:#fff;}
.menufriend-list .status{display:block;width:150px;color:#999;white-space:nowrap;overflow:hidden;}
.menufriend-foot{padding:5px;border-top:1px solid #b4c9dd;background:#fff url(../images/menu_friend_bg_2.png) repeat-x 0 -100px;}
.menufriend-foot a{float:left;padding-left:12px;background:url(../images/menu_friend_bg.png) no-repeat;}
.menufriend-foot a.friend-manage{background-position:0 -280px;}
.menufriend-foot a.friend-search{float:right;background-position:0 -310px;}
.menufriend-head a:link,.menufriend-head a:visited{color:#12459c;}

.menu-friend .usertagline-wrap{float:left;width:170px;height:24px;overflow:hidden;background:url(../images/menu_friend_bg_2.png) repeat-x 0 999px;}
.menu-friend .usertagline-inner{margin:0 5px;overflow:hidden;}
.menu-friend .usertagline-hover{background-position:0 -200px;}
.menu-friend .usertagline-active{background-position:0 -224px;}
.menu-friend .usertagline-text{height:24px;line-height:24px;color:#666;white-space:nowrap;overflow:hidden;}
.menu-friend .usertagline-form{height:24px;line-height:24px;}
.menu-friend .usertagline-form .tagline-input{float:left;width:100%;height:24px;overflow:hidden;}
.menu-friend .usertagline-form .tagline-input .text{width:100%;height:20px;line-height:20px;margin-top:2px;padding:0;border:0;}
