/*reset*/
body{background:#fff}
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0}
body,button,input,select,textarea,td{font:14px/1.6 arial;color:#333}
td,th{font-size:14px}
h1,h2,h3,h4,h5,h6{font-size:100%}
h1{font-size:14px;margin-bottom:10px}
h2{font-size:14px;margin:10px 0 5px 0}
h3{font-size:12px;margin:5px 0}
h4{background:#f2f2f2;margin:5px 0;padding:2px 5px;zoom:1;overflow:hidden}
p{margin:5px 0}
small{font-size:12px;color:#999;font-weight:normal}
a:link,a:visited{color:#078c91;text-decoration:none}
a:hover{color:#31babf;text-decoration:underline}
img{border:0}
/*common*/
.l{text-align:left}
.r{text-align:right}
.c{text-align:center}
.mt{margin-top:10px}
.mb{margin-bottom:10px}
.fr{float:right}
.fl{float:left}
.imp{font-size:18px;color:#ff6600}
.red{color:red}
.orange{color:#ff6600}
.green{color:#24a80e}
.gray{color:#ccc}
.must{color:#ff6600;margin-right:2px}
.full{width:90%}
.long{width:70%}
.half{width:50%}
.short{width:32%}
.tiny{width:12%}
.big{font-size:14px}
.collapsed{display:none}
.expanded{}
.clean{clear:both}
.sml{font-size:11px;padding-left:3px;font-weight:normal;color:#999}
/*banner common*/
.box{width:320px;height:54px;overflow:hidden;background:#f2f2f2;position:relative;font:12px/1.6 arial}
.bannerLogo{position:absolute;bottom:0;right:0;width:35px;height:10px;background:url(/images/banner/logo.gif) no-repeat right bottom}
.sPic{float:left;height:38px;width:38px;border:1px solid #d4d3d3;margin:6px 6px;background:#f2f2f2}
.bPic{float:left;height:38px;width:142px;border:1px solid #d4d3d3;margin:7px 6px;*margin:7px 0 7px 6px;background:#f2f2f2}
.bannerText{float:left;position:inherit;height:40px;margin:6px;font:14px/1.4 arial;overflow:hidden}
/*special*/
#v20110502_text.bannerText{width:300px;color:#fddcda}
#v20110503_text.bannerText{width:250px;color:#fddcda}
#v20110504_text.bannerText{width:150px;color:#fddcda}
#v20110505_text01.bannerText{width:250px;color:#fddcda}
#v20110505_text02.bannerText{width:250px;color:#fddcda}
#v20110506_text.bannerText{width:300px;color:#c5ffeb}
#v20110507_text.bannerText{width:300px;color:#d0f6ff}
#v20110508_text.bannerText{width:250px;color:#c5ffeb}
#v20110509_text.bannerText{width:250px;color:#d0f6ff}
#v20110510_text.bannerText{width:150px;color:#c5ffeb}
#v20110511_text.bannerText{width:150px;color:#d0f6ff}
#v20110512_text01.bannerText{width:250px;color:#c5ffeb}
#v20110512_text02.bannerText{width:250px;color:#c5ffeb}
#v20110513_text01.bannerText{width:250px;color:#d0f6ff}
#v20110513_text02.bannerText{width:250px;color:#d0f6ff}
#v20110514_text.bannerText{width:300px;color:#d6d6d6}
#v20110515_text.bannerText{width:250px;color:#d6d6d6}
#v20110516_text.bannerText{width:150px;color:#d6d6d6}
#v20110517_text01.bannerText{width:250px;color:#d6d6d6}
#v20110517_text02.bannerText{width:250px;color:#d6d6d6}
#v20110518_text.bannerText{width:300px;color:#fddcda}
#v20110519_text.bannerText{width:250px;color:#fddcda}
#v20110520_text.bannerText{width:150px;color:#fddcda}
#v20110521_text01.bannerText{width:250px;color:#fddcda}
#v20110521_text02.bannerText{width:250px;color:#fddcda}
#v20110522_text.bannerText{width:300px;color:#c5ffeb}
#v20110523_text.bannerText{width:300px;color:#d0f6ff}
#v20110524_text.bannerText{width:250px;color:#c5ffeb}
#v20110525_text.bannerText{width:250px;color:#d0f6ff}
#v20110526_text.bannerText{width:150px;color:#c5ffeb}
#v20110527_text.bannerText{width:150px;color:#d0f6ff}
#v20110528_text01.bannerText{width:250px;color:#c5ffeb}
#v20110528_text02.bannerText{width:250px;color:#c5ffeb}
#v20110529_text01.bannerText{width:250px;color:#d0f6ff}
#v20110529_text02.bannerText{width:250px;color:#d0f6ff}
#v20110530_text.bannerText{width:300px;color:#d6d6d6}
#v20110531_text.bannerText{width:250px;color:#d6d6d6}
#v20110532_text.bannerText{width:150px;color:#d6d6d6}
#v20110533_text01.bannerText{width:250px;color:#d6d6d6}
#v20110533_text02.bannerText{width:250px;color:#d6d6d6}
#v20110534_text.bannerText{width:300px;color:#fddcda}
#v20110535_text.bannerText{width:250px;color:#fddcda}
#v20110536_text.bannerText{width:150px;color:#fddcda}
#v20110537_text01.bannerText{width:250px;color:#fddcda}
#v20110537_text02.bannerText{width:250px;color:#fddcda}
#v20110538_text.bannerText{width:300px;color:#c5ffeb}
#v20110539_text.bannerText{width:300px;color:#d0f6ff}
#v20110540_text.bannerText{width:250px;color:#c5ffeb}
#v20110541_text.bannerText{width:250px;color:#d0f6ff}
#v20110542_text.bannerText{width:150px;color:#c5ffeb}
#v20110543_text.bannerText{width:150px;color:#d0f6ff}
#v20110544_text01.bannerText{width:250px;color:#c5ffeb}
#v20110544_text02.bannerText{width:250px;color:#c5ffeb}
#v20110545_text01.bannerText{width:250px;color:#d0f6ff}
#v20110545_text02.bannerText{width:250px;color:#d0f6ff}
#v20110546_text.bannerText{width:300px;color:#d6d6d6}
#v20110547_text.bannerText{width:250px;color:#d6d6d6}
#v20110548_text.bannerText{width:150px;color:#d6d6d6}
#v20110549_text01.bannerText{width:250px;color:#d6d6d6}
#v20110549_text02.bannerText{width:250px;color:#d6d6d6}
#v20110550_text.bannerText{width:300px;color:#fddcda}
#v20110551_text.bannerText{width:250px;color:#fddcda}
#v20110552_text.bannerText{width:150px;color:#fddcda}
#v20110553_text01.bannerText{width:250px;color:#fddcda}
#v20110553_text02.bannerText{width:250px;color:#fddcda}
#v20110554_text.bannerText{width:300px;color:#c5ffeb}
#v20110555_text.bannerText{width:300px;color:#d0f6ff}
#v20110556_text.bannerText{width:250px;color:#c5ffeb}
#v20110557_text.bannerText{width:250px;color:#d0f6ff}
#v20110558_text.bannerText{width:150px;color:#c5ffeb}
#v20110559_text.bannerText{width:150px;color:#d0f6ff}
#v20110560_text01.bannerText{width:250px;color:#c5ffeb}
#v20110560_text02.bannerText{width:250px;color:#c5ffeb}
#v20110561_text01.bannerText{width:250px;color:#d0f6ff}
#v20110561_text02.bannerText{width:250px;color:#d0f6ff}
#v20110562_text.bannerText{width:250px;color:#d6d6d6}
#v20110563_text.bannerText{width:250px;color:#d6d6d6}
#v20110564_text.bannerText{width:150px;color:#d6d6d6}
#v20110565_text01.bannerText{width:250px;color:#d6d6d6}
#v20110565_text02.bannerText{width:250px;color:#d6d6d6}
