/*Page*/
.pager{margin:20px 0;left:50%;float:left;position:relative;height:25px;font-weight:bold}
.pager div{left:-50%;position:relative}* html .pager div{float:left}/*forCenter*/
.pager a,.pager .curP,.pager .sumP{float:left;font-size:12px;height:18px;line-height:18px}
.pager a,.pager .curP{margin:0 3px;overflow:hidden;padding:0px 5px;text-align:center;vertical-align:middle}
.pager a{border:1px solid #CCC}
.pager a:hover{text-decoration:none;border:1px solid red}
.pager .sumP,.pager .ppre ,.pager .pnext{font-size:12px;background-repeat:no-repeat}
.pager .sumP{padding-top:2px;font-weight:normal}
.pager strong{padding:0px 5px}
.pager .ppre{background-image:url(../images/ico_pager_pre.gif);background-position:left center;padding-left:13px}
.pager .pnext{background-image:url(../images/ico_pager_next.gif);background-position:right center;padding-right:13px}
.pager .curP{color:#FFF;background:#ff4b01;border:1px solid red;cursor:default}
.pager .moreP{float:left;padding:0 6px}