<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>TouchRemoting</display-name>
	
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>TouchRemoting.root</param-value>
	</context-param> 
	<context-param>   
        <param-name>log4jConfigLocation</param-name>   
        <param-value>classpath:/log4j.properties</param-value>   
    </context-param>
    
	<!-- 配置Spring -->
    <context-param> 
	    <param-name>contextConfigLocation</param-name> 
	    <param-value>
	    	classpath:/com/ivyinfo/framework/service/config/applicationContext.xml,
	    	classpath:/com/ivyinfo/framework/service/config/applicationContext-services.xml,
	    </param-value> 
	</context-param> 
	<filter>   
  		<filter-name>encodingFilter</filter-name>   
  		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>   
  		<init-param>   
  	 		<param-name>encoding</param-name>   
   	 		<param-value>UTF-8</param-value>   
  		</init-param>   
 	</filter>
 	
 	<listener>    
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>    
    </listener>
 
	<listener>
		<listener-class>
			com.ContextLoaderServlet
		</listener-class>
	</listener>


	
    <!--  
    <servlet>
		<servlet-name>SchedulerContext</servlet-name>
		<servlet-class>
			com.ivyinfo.framework.service.quartz.SchedulerServlet
		</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	-->
     
    <servlet>
		<servlet-name>service</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>service</servlet-name>
		<url-pattern>/service/*</url-pattern>
	</servlet-mapping>  
 	
	
</web-app>
